@model TurkiyeFinans.Models.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="KayitOl">
    <div class="form-group">
        <label><strong>Kayıt Ol</strong></label>
    </div>
    <div class="form-group">
        <label for="TCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="TCKimlikNo" name="TCKimlikNo" />
    </div>
    <div class="form-group">
        <label for="Ad">Adı</label>
        <input type="text" class="form-control" id="Ad" name="Ad" />
    </div>
    <div class="form-group">
        <label for="Soyad">Soyadı</label>
        <input type="text" class="form-control" id="Soyad" name="Soyad" />
    </div>
    <div class="form-group">
        <label for="DogumTarihi">Doğum Tarihi</label>
        <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi" />
    </div>
    <div class="form-group">
        <label for="Adres">Adres</label>
        <input type="text" class="form-control" id="Adres" name="Adres" />
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <input type="tel" class="form-control" id="Telefon" name="Telefon" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" />
    </div>
    <div class="form-group">
        <label for="Pass">Parola</label>
        <input type="password" class="form-control" id="Pass" name="Pass" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Kayit ol</button>
</form>


<br></br>
<form method="post" asp-controller="Home" asp-action="GirisYap">
    <div class="form-group">
        <label><strong>Giris Yap</strong></label>
    </div>
    <div class="form-group">
        <label for="GirTCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="GirTCKimlikNo" name="GirTCKimlikNo" />
    </div>
    <div class="form-group">
        <label for="GirPass">Password</label>
        <input type="password" class="form-control" id="GirPass" name="GirPass" />
    </div>
    <br></br>
    <button type="submit" class="btn btn-primary">Giris Yap</button>
</form>
<br></br>
<form method="post" asp-controller="Home" asp-action="Sil">
    <div class="form-group">
        <label><strong>Musteri Sil</strong></label>
    </div>
    <div class="form-group">
        <label for="SilTCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="SilTCKimlikNo" name="SilTCKimlikNo" />
    </div>
    <br></br>
    <button type="submit" class="btn btn-primary">Sil</button>
</form>
