@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kayit Ol";
}
<!-- Kayıt Formu -->
<form method="post" asp-controller="Home" asp-action="KayitOlGonder">
    <div class="form-group">
        <label><strong>Kayıt Ol</strong></label>
    </div>
    <div class="form-group">
        <label for="TCKimlikNo">TC no</label>
        <input type="number" class="form-control" id="TCKimlikNo" name="TCKimlikNo" required />
    </div>
    <div class="form-group">
        <label for="Ad">Adı</label>
        <input type="text" class="form-control" id="Ad" name="Ad" required />
    </div>
    <div class="form-group">
        <label for="Soyad">Soyadı</label>
        <input type="text" class="form-control" id="Soyad" name="Soyad" required />
    </div>
    <div class="form-group">
        <label for="DogumTarihi">Doğum Tarihi</label>
        <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi" required />
    </div>
    <div class="form-group">
        <label for="Adres">Adres</label>
        <input type="text" class="form-control" id="Adres" name="Adres" required />
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <input type="tel" class="form-control" id="Telefon" name="Telefon" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Pass">Parola</label>
        <input type="password" class="form-control" id="Pass" name="Pass" required />
    </div>
    <button type="submit" class="btn btn-primary">Kayit ol</button>
</form>
<!-- /Kayıt Formu -->